/zadacha_1__razrabotka_cherez_testirovanie/.idea
/zadacha_1__razrabotka_cherez_testirovanie/.mvn
/zadacha_1__razrabotka_cherez_testirovanie/src/main/resources
/zadacha_1__razrabotka_cherez_testirovanie/src/main/java/ru/netology/tests
/zadacha_1__razrabotka_cherez_testirovanie/.gitignore
/zadacha_1__razrabotka_cherez_testirovanie/Etalon.java
/zadacha_1__razrabotka_cherez_testirovanie/ДЗ_с_СП_Методология_разработки_1__1_.docx
